/* ul {
  list-style: none;
  background-color: cornflowerblue;
  margin-left: 0;
}
aside {
  height: 100%;
  width: 15%;
  margin: 0;
  padding: 0;
}
li a {
  color: black;
  display: flex;
  margin: 3px;
  text-decoration: none;
  font-size: large;
  font-weight: bold;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

h1 {
  text-align: center;
  font-size: 30px;
  margin: 0;
}
ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.sidebar {
  background-color: #252525;
  padding: 30px;
  height: 100%;
  grid-column: 1;
  grid-row: 1/3;
  justify-items: stretch;
  align-items: stretch;
  border-radius: 0px 20px 20px 0px / 0px 20px 20px 0px;
}

.sidebar h1 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  border-bottom-width: 5px;
}
.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1080px 2fr;
  grid-template-rows: 610px 1fr;
  grid-gap: 5px;
}
.chart-view {
  grid-column: 2;
  grid-row: 1;
  justify-items: stretch;
  align-items: stretch;
}
.setting {
  background-color: #252525;
  grid-column: 3;
  grid-row: 1;
  justify-items: stretch;
  align-items: stretch;
  border-radius: 0px 0px 0px 20px / 0px 0px 0px 20px;
}
.performance {
  grid-column: 2/4;
  grid-row: 2;
  background-color: #252525;
  justify-items: stretch;
  align-items: stretch;
  border-radius: 20px 0px 0px 0px / 20px 0px 0px 0px;
}
